/* .header,
.header_inner,
.header_inner1,
.header_inner2,
.logo,
.nav,
.search,
.navs {
  border: 1px solid blue;
} */
.header {
  width: 100%;
  height: 15.6%;
  background-image: url("../../../../public/images/header-background.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_inn1 {
  width: 67.2%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_inner1 {
  width: 100%;
  height: 19.6%;
  display: flex;
  justify-content: center;
}
.header_inner1:hover {
  background: #ffffff;
}
.logo {
  width: 11.3%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo img:hover {
  color: #69bf45;
}
.nav {
  width: 57.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.search {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.input_search {
  width: 68.6%;
  height: 40.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_search input {
  background-color: transparent;
  border: none;
  width: 97.6%;
  height: 100%;
}

.header_inner1:hover .input_search {
  border: 2px solid #398eb1;
  box-sizing: border-box;
  border-radius: 5px;
}
.header_inner1:hover .input_search input {
  border: none;
  background-color: transparent;
  width: 97.6%;
  height: 100%;
}
.input_search input:focus{
border: none;
}
.input_search input::placeholder {
  color: transparent;
}
.header_inner1:hover .input_search input::placeholder {
  color: #cccccc;
}

.imgSearch {
  /* width: 2.4%; */
  color: #ffffff;
}
.header_inner1:hover .imgSearch {
  color: #398eb1;
}
.reg_btn {
  width: 16.7%;
  height: 40.7%;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  background-color: #69bf45;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5.8%;
}
.log_btn {
  width: 64px;
  height: 34px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
}
.header_inner1:hover .log_btn{
  background-color: #ffffff;
  border: 2px solid #398eb1;
  color: #398eb1;
}
.header_inner1:hover .log_btn:hover {
  color: #ffffff;
  background-color: #398eb1;
  border: none;
  
}
.navs {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navs1 {
  color: #b9c3cd;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  cursor: pointer;
}
.header_inner1:hover .navs1:hover {
  color: #398eb1;
  font-weight: 600;
  border-bottom: 2px solid #398eb1;
}
.navs2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  cursor: pointer;
}
.header_inner1:hover .navs2{
  color: #398eb1;
}
.header_inner1:hover .navs2:hover{
  border-bottom: 2px solid #398eb1;
}
.header_inner2 {
  width: 100%;
  height: 80.4%;
  display: flex;
  justify-content: center;
  /* flex-direction: column;
  align-items: start;
  justify-content: center; */
}
.header_inn2 {
  width: 67.2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.travio {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 57px;
  font-style: normal;
  line-height: 68.4px;
  margin-bottom: 4.4%;
}
.opis {
  width: 50.8%;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  line-height: 30px;
  margin-bottom: 7%;
}
.join {
  width: 14.7%;
  height: 6%;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: 21.6px;
  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
  border-radius: 5px;
}
.join:hover {
  color: #ffffff;
  background-color: #398eb1;
  border: none;
}
