/* .mission,
.mission_1, .mission_1_inner,
.mission_2 {
  border: 1px solid blue;
} */
.mission {
  width: 100%;
  height: 5.5%;
  display: flex;
}
.mission_1 {
  width: 51.1%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(79.24deg, #9FC72C 0%, #22B465 29.82%, #4083C8 62.92%);
  
}
.mission_1_inner{
  width:53.4%;
  height:70.7%;
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-left: 32.1%;
}
.our_mission{
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 41px;
  font-style: normal;
  line-height: 49.2px;
}
.mission_text{
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
}
.mission_btn{
  width:40.1%;
  height: 20%;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.mission_btn:hover {
  background-color: #69bf45;
  color: #ffffff;
  border: none;
}
.mission_2 {
  width: 48.9%;
  height: 100%;
}
