/* .footer,
.footer_inner,
.footer_inner1,
.footer_inner2,
.aboutUs,
.help,
.docs {
  border: 1px solid blue;
} */
.footer {
  width: 100%;
  height: 7.3%;
  background: linear-gradient(
    81.05deg,
    #9fc72c 0%,
    #22b465 47.4%,
    #4083c8 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_inner {
  width: 67.2%;
  height: 75.8%;
  display: flex;
  justify-content: space-between;
}
.footer_inner1 {
  width: 68.4%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.aboutUs {
  width: 15.2%;
  height: 55.1%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.aboutUs1 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 21.6px;
}
.aboutUs2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
}
.help {
  width: 31%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.docs {
  width: 26.5%;
  height: 70.1%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.footer_inner2 {
  width: 17.1%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.footer_inner2 img{
  width:100%;
}
.rights {
  /* width: 85.5%; */
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
}
.socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.socials img {
  margin-left: 9.1%;
}
@media (max-width: 1440px) {
  .aboutUs1, .aboutUs2, .rights  {
    font-size: 13px;
    
  }
  .aboutUs {
    height: 44.1%;
  }
  .help {
    height:85%;
    
  }
  .docs {
    height: 57.1%;
  }
}
